/* pieces -- transparent with white outline */
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  /* background-color: black; */
  border: 5px solid blue;
  height: 80vh;
  color: white;
}

.game-screen {
  border: 1px solid orange;
  color: white;
  flex-direction: row;
  display: flex;
  height: 100%;
}

.game-board,
.support-info {
  display: flex;
  justify-content: center;
  border: 3px solid green;
  color: white;
  width: 100%;
  margin: 25px;
}

.support-info {
  flex-direction: column;
}

.game-board {
  flex-direction: row;
  align-items: flex-start;
}

/* .game-canvas {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border: 1px solid white;
  height: 90%;
  width: 40%;
} */

.next-piece,
.game-info {
  border: 1px solid orange;
  color: white;
  height: 100%;
  margin: 25px;
}

.game-info {
  display: flex;
  flex-direction: column;
}

.level,
.score,
.lines {
  height: 100%;
  border: 1px solid tomato;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
  height: 4%;
  width: 4.5%;
}

.square {
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
}

.has-square {
  border: none;
  background-color: white;
  height: 100%;
  width: 100%;
}
